@media (min-width: 425px) {
  .react-datepicker {
    width: 21.2rem;
    font-size: 1rem;
  }

  .react-datepicker__day {
    width: 2.5rem;
    line-height: 2.5rem;
    margin: 0.2rem;
  }

  .react-datepicker__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .react-datepicker__day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.8rem;
    padding: 0.5rem 0.9rem;
    text-align: center;
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #bf2627 !important;
  color: white !important;
}

.react-datepicker__day--today {
  color: #bf2627 !important;
}
